/* Write your CSS here */
.card-total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  /* box-shadow: 0px 0px 6px 0.2px rgba(0, 0, 0, 0.4); */
  box-shadow: 0px 4px 16px 0px #7e858e29;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .card-total-container {
    align-self: center;
    justify-content: flex-end;
    width: 100%;
  }
}

.order-total-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #171f46;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .order-total-heading {
    font-size: 20px;
    align-self: flex-start;
  }
}

.order-total-label {
  font-family: 'Roboto';
  font-size: 20px;
  color: #616e7c;
}
@media screen and (max-width: 768px) {
  .order-total-label {
    font-size: 15px;
    align-self: flex-start;
  }
}

.checkout-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}
